// make responsive
@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}


@mixin tablet{
    @media screen and (max-width: 768px) {
        @content;
    }
}


@mixin desktop{
    @media screen and (max-width: 1280px) {
        @content;
    }
}

@mixin smallMobile{
    @media screen and (max-width: 320px) {
        @content;
    }
}



.hDesign{
    display: flex;
    flex-direction: column;
    gap: 100px;
   
    


    .topic{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 50px;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        margin: auto;
      max-width: 80%;
      width: 100%;
        bottom: -5%;
      
        @include mobile{
            padding: 30px;
            bottom: -10%;
            text-align: center;
        }


        @include smallMobile{
            bottom: -20%;
            padding-bottom: 100px;
        }

        
        .text{
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            font-size: 50px;
            font-weight: 600;
            span{
                color: #F4CE14;
            }

            @include mobile{
                font-size: 40px;
            }

            @include smallMobile{
                font-size: 30px;
            }
        }
    }

    .section{
        display: flex;
        padding: 0px 100px 0px 100px;
        justify-content: center;

        @include mobile{
            flex-direction: column;
            padding: 0px 30px 0px 30px;
            gap: 40px;
            left: 0;
            right: 0;
            margin: auto;
        }

       
        @include smallMobile{
            flex-direction: column;
            padding: 0px 10px 0px 10px;
            gap: 40px;
            left: 0;
            right: 0;
            margin: auto;
        }

        
        @include smallMobile{
            img{
                width: 100px;
                height: 100px;
            }
        }
       
        

        .content{
            display: flex;
            flex-direction: column;
            gap: 50px;
            max-width: 500px;
            width: 100%;

            @include mobile{
                gap: 20px;
                align-items: center;
                justify-content: center;
            }

            .step{
                font-family: 'lato';
                padding: 5px;
               
                background-color: #F4CE14;
                width: 100px;

              
            }

            .title{
                font-family: 'Lato', sans-serif;
                font-size: 25px;
                font-weight: 700;
                text-align: left;

                .b{
                    font-weight: 600;
                }

                .y{
                    color: #F4CE14;
                    font-weight: 600;
                }
            }

            

            p{
                font-family: 'Inter', sans-serif;
                font-size: 17px;
                @include mobile{
                    text-align: center;
                }
               
            }
        }

      .images{
        position: relative;
        display: flex;
        @include mobile{
         
            justify-content: center;
        }
        img{
            width: 300px;
            height: 300px;

            @include smallMobile{
                width: 200px;
                height: 200px;
            }

            
        }

        .img1{
            z-index: 2;
            border-radius: 10px;
        }

        .img2{
            position: absolute;
            margin-top: -15px;
            margin-left: -15px;
            
            
            
        }
      }
    }

    .s2{
        background-color: #e9e9e9;
        padding: 50px;
        gap: 20px;
        display: flex;
        justify-content: center;

        @include mobile{
            padding: 30px;
            
        }


        
            
        .content{
            
            .title{
                font-weight: 700;
                text-align: left;

                @include mobile{
                    text-align: center;
                }
            }
        }        
    }

    .s3{
        gap: 20px;
        .content{
            
            .title{
                font-weight: 700;
                text-align: left;
                @include mobile{
                    text-align: center;
                }
            }
        }
        .images{
            .img2{
                margin-top: 15px;
            }
        }
    }

    .s4{
        display: flex;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
        background-color: #e9e9e9;
        padding: 50px 200px 50px 200px;
        gap: 20px;

        @include mobile{
            padding: 50px 50px 50px 50px;
        }
        
        .title{
            font-size: 25px;
            font-weight: 700;
            text-align: center;
        }

        .description{
            text-align: left;
            @include mobile{
                text-align: center;
            }
        }
    }

    .s5{
        .left{
             
            .s5Img{
                border-radius: 10px;
            }
        }

        .right{
            p{
                margin-left: 10px;
            }
        }
    }




    
}