.headerImg {
    height: 100vh;
    width: 100vw;
    position: relative;

    .wrapper {
        width: 100%;
        height: 90%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
        }
    }
}