// make responsive
@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}


@mixin tablet{
    @media screen and (min-width: 760px) {
        @content;
    }
}


@mixin desktop{
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin smallMobile{
    @media screen and (max-width: 320px) {
        @content;
    }
}


.footerNavBar{
    background-color: #fff;
    padding: 10px 30px 10px 30px ;
    position: absolute;
    margin-top: 50px;
    width: 100%;
   
    .navItems{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menuIco{
            @include mobile{
                display: block;
            }

            @include tablet{
                display: none;
            }

            @include desktop{
                display: none;
            }

            @include smallMobile{
                display: block;
            }
        }

     
        .logo{
           
          display: flex;
          align-items: center;
          gap: 5px;
          font-family: 'Lato', sans-serif;
          font-weight: 800;
          padding: 10px;
          cursor: pointer;

         
        a{
            text-decoration: none;
            color: black;
          }

          span{
            font-size: 23px;

          }

          .y{
            color:#f1cc10 ;
          }
         

           
        }

    
           

              .mobileMenu{
                
               
                .navItems{
                    @include desktop{
                        display: none;
                    }
    
                    @include mobile{
                        display: flex;
                        flex-direction: column;
                        position: fixed;
                        top: 0; 
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                       
                        background-color: #fff;
                     
                        justify-content: center;
                        align-items: center;
                        z-index: 999;
                        gap: 40px;

                        .closeIco{
                            .ico{
                                font-size: 40px;
                                cursor: pointer;
                            }
                        }

                  
                        
    
                        .link{
                            cursor: pointer;
                            font-family: 'Inter', sans-serif;
                            font-size: 25px;
                            
                        }
                    }
                }
              }
        

        .navLinks{
            display: flex;
            gap: 40px;
            font-size: 18px;
            font-weight: 500;
            font-family: 'Inter';
            color: rgb(122, 122, 122);

            @include mobile{
                display: none;
            }

            
            
        }

        .link{
            cursor: pointer;
            color: black;

            &:hover{
                color: rgb(90, 90, 90);
            }
        }

        .active{
            color: rgb(90, 90, 90);
        }
    }
}